body {
    margin:0;
    background-color:  #c2c2d6;
    
    
}

.logo{
    margin-left: 0px;
    width:130px;
    display: inline-block;
    margin-top:8px ;
    height:8em;
    border-radius: 50%;
    
}

   

.logo:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
   animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.school
{
    font-family: 'Bungee Shade';
    width: auto;
    margin-top:8px;
    height: 5em;
    margin-left: 80px;
    letter-spacing: 1px;
    color: seashell;
   
}
.contact{
    font-family: 'Amaranth';font-size: 18px;
}
.fblogo{
   
    display: inline;
}

.carausel{
    width: 100%;
    
}
.item-active,.item{
    width: 100%;
    height:75vh;
}

.fix{
   
    width: 100%;
    height:14em;
   
    position: fixed ;
    top:0;
    z-index: 9999;
    background-color:  #003d99;
    
}
#search{
    width: 80%;
    border-radius: 1.2em;
    padding:5px;
   
}
.search-container button:hover {
    background: #ccc;
  }

.container{
   
  
    height: 10em;
   margin-right: 0px; 
   margin-left: 0px;
   display: flex;
   overflow: hidden;
   width: 100%;
   
   
   
}


.academics{
  
    margin-left: 38%;
    font-family: 'Aclonica';font-size: 22px;
}
.card text{
    color:gold;
}


.card-group h3{
    color: green;
}
.card-group a{
    color:white;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {color: white;}
    
    50%  {color: red;}
   
  }
.card-group{
    width: 80%;
   margin-left: 9%;
  
  
}


.card-group a:hover
{
    color:black;
    padding-left:40px;
}
.card-cont{
   
    flex: 1;
     max-width: 100%; 
     
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    
   
    /* border: 1px blue solid; */
}
.slider{
    background-color: blue;
    height: auto;
    display: flex;
    padding: 0px;
    justify-content: center;
    color: rgb(255, 255, 255);
   
}
.slider  h3{
    border: 2px solid white;
    padding: 5px;

}
.photo{
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}
.slider h3:hover{
    background-color:#990000;
}

.slider .video:hover{
   
    color: black;
    margin-left: 5vw;
}
.slider .photo:hover{
    margin-right: 5vw;
    color: black;
}
.video
{
    padding: 5px;

    margin-left: 10px;
    cursor: pointer;
}
.flex{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: flex-start;
}
.card{
    width:20%;
}



.card1 , .card2 , .card3 , .card4 , .card5 , .card6 {
    /* height: 50vh; */
    width: 500px;
    height: 300px;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
    box-shadow:  5px 10px 18px black;
    display: flex;
     padding: 45px; 
     flex-flow: column nowrap;
     justify-content: space-around;
     align-items: center;

     
 
}
.card1{
    background-color: #a3a3c2;
    font-size: 18px;
}
.card2{
    background-color: #ff80ff;
    font-size: 18px;
}
.card3{
    background-color: #66ff66;
    font-size: 18px;
}
.card4{
    background-color:#ffff4d;   
    font-size: 18px; 
}
.card5{
    background-color: #ff6600;
    font-size: 18px;
}
.card6{
    background-color: #66ffff;
    font-size: 18px;
}
.card1:hover{
    font-size: 20px;
    color:white;
    cursor: pointer;

}
.card2:hover{
    font-size: 20px;
    cursor: pointer;
    color:white;

}
.card3:hover{
    font-size: 20px;
    cursor: pointer;
    color:white;

}
.card4:hover{
    font-size: 20px;
    cursor: pointer;
    color:white;

}
.card5:hover{
    font-size: 20px;
    cursor: pointer;
    color:white;
}
.card6:hover{
    font-size: 20px;
    cursor: pointer;
    color:white;

}
.card-group{
    box-shadow: 5px 10px 25px black;
}
.about{
    display: flex;
    height: auto;
   
   justify-content: space-around;
}
.about a,.about2 a{
    color:black;
}
.about a:hover,.about2 a:hover{
    color:red;
}
.about2{
    display: flex;
    height: auto;
  
   justify-content: space-around;

}

.footer{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content:flex-end;
    padding: 2px;
    padding-right: 5px;
}

  .fa-facebook-f{
      font-size: 40px;
     
      background-color: red;
      color: white;
      cursor: pointer;
      border: 1px solid black;
     margin-bottom: 10px;
     
      
  }
  .fa-youtube{
      background-color: red;
      color:white;
      font-size:30px;
      cursor: pointer;
      border: 1px solid black;
  }
  ul ul{
    position: absolute;
    /* min-width: 200px; */
    /* background-color:black;  */
    display: none;
   margin-left: -45px;
    /* box-sizing:border-box;
   border: 1px solid white; */
  

} 
ul ul li{
    
    min-width: 200px;
    display: block;
    /* background-color: #000000; */
   
    text-decoration: none;
    display: flex;
    
    box-sizing:border-box;
    background-color: #cc0000;
   border: 1px solid rgb(255, 255, 255);
}
ul li:hover ul{
     display: block; 
    text-decoration: none;
   
    
} 
ul ul li a:hover {
    text-decoration: none;
    color: black;
  
    background-color: #ffffcc;
    width: 100%;
    box-sizing:border-box;
    border: 1px solid white;
}

ul ul li a.ho:hover {
   
  box-sizing:border-box;
   border: 1px solid white;
}
.drop{
  color: white;
  
}
.navbar{
 
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  height: auto;
}
.nav-item{
    padding-left:1vw;
    padding-right:1vw;
}
.navbar{
    background-color:  #990000;
   
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: black;
}
.nav-item:hover{
    background-color: #cc0000;
    font-size: 22px;
}
.marquee{
    background-color: #003d99;
    color:white;
    font-weight: bold;
    height: auto;
    padding-top: 12px;
    padding-bottom: 10px;
    font-family: 'Aclonica';font-size: 18px;
    animation-name: example1;
    animation-duration: 1s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
}
@keyframes example1 {
    0%   {color: white;}
    
    50%  {color: black;}
   
  }

.topbar{
    width:100%;
    background-color: black;
   
    display: flex;
    justify-content: space-around;
    height: 3vh;
    padding-left:60vw;
    font-size: 13px;
    padding-right:5vw;

}
.topbar a{
    color: white;
    padding:1px;
    font-weight: lighter;
}
.topbar a:hover{
    color:greenyellow;
    text-decoration: none;
}
.iframe{
    display: flex;
    justify-content: space-around;
}
